<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fun.johntaylor.kunkka.repository.mybatis.funds.FundsMapper">
	<update id="update" parameterType="fun.johntaylor.kunkka.entity.funds.Funds">
		update t_funds
		<set>
			<if test="uid!=null">uid = #{uid},</if>
			<if test="amount!=null">amount = #{amount},</if>
			<if test="createTime!=null">create_time = #{createTime},</if>
			<if test="updateTime!=null">update_time = #{updateTime},</if>
			<if test="category!=null">category = #{category},</if>
			<if test="type!=null">type = #{type},</if>
			<if test="status!=null">status = #{status},</if>
		</set>
		where id=#{id}
	</update>

	<update id="updateIdempotent" parameterType="Map">
		update t_funds
		<set>
			<if test="new.uid!=null">uid = #{new.uid},</if>
			<if test="new.amount!=null">amount = #{new.amount},</if>
			<if test="new.createTime!=null">create_time = #{new.createTime},</if>
			<if test="new.updateTime!=null">update_time = #{new.updateTime},</if>
			<if test="new.category!=null">category = #{new.category},</if>
			<if test="new.type!=null">type = #{new.type},</if>
			<if test="new.status!=null">status = #{new.status},</if>
		</set>
		<where>
			where id=#{old.id}
			<if test="new.uid!=null and old.uid!=null">and uid = #{old.uid}</if>
			<if test="new.amount!=null and old.amount!=null">and amount = #{old.amount}</if>
			<if test="new.createTime!=null and old.createTime!=null">and create_time = #{old.createTime}</if>
			<if test="new.updateTime!=null and old.updateTime!=null">and update_time = #{old.updateTime}</if>
			<if test="new.category!=null and old.category!=null">and category = #{old.category}</if>
			<if test="new.type!=null and old.type!=null">and type = #{old.type}</if>
			<if test="new.status!=null and old.status!=null">and status = #{old.status}</if>
		</where>
	</update>
</mapper>